{% extends '@App/base.html.twig' %}


{% block contenu %}
    <h1>La liste des auteurs par genre :</h1>
    <div>
        {% for auteur in auteurs %}

            <p>{{ auteur.title }}</p>
            <p>{{ auteur.autor}}</p>
        {% endfor %}
    </div>
{% endblock %}