{% extends '@App/base.html.twig' %}

//Le block devant composer la page onlyauthor est défini dans la base et sa valeur est définie ci-dessous

//Le block va afficher l'auteur, et ses éléments
{% block contenu %}

    <h1 style="text-decoration: underline;">Information sur l'auteur :</h1>
    <h1 style="color: red; margin-left: 15px;">{{ author.nom }}</h1>
    <p>{{ author.bornedat | date("d/m/y") }} - {{ author.deadat | date("d/m/y")}}</p>
    <p>{{ author.biography}}</p>

{% endblock %}