{% extends '@App/base.html.twig' %}


{% block contenu %}
    <h1>La liste des auteurs par pays :</h1>
    <div>
        {% for liste in listes %}
            <h1>Pays : {{ liste.pays }}</h1>
            <p>{{ liste.nom }}</p>
            <p>{{ liste.biography}}</p>
        {% endfor %}
    </div>
{% endblock %}